@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Jua', sans-serif;
  
}

.container {
  max-width: 80%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}
